<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>left</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="./left.css">
  </head>
  <body>
    <div class="sidebar">
      <div class="sidebarpack">
        <div class="sidebarCard">
          <div class="icon1">
            
          </div>
          <div class="iconName">Your Profile</div>
        </div>
        <div class="sidebarCard">
          <div class="icon2">
            <i data-visualcompletion="css-img" class="" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/4GR4KRf3hN2.png?_nc_eui2=AeFVuvjl5FtZXqdjcVMAfZ1oiXYVTRy2fzKJdhVNHLZ_Mr36rNi1hcEf-STIpdW5YoJkGj1OQaJCLKCdZ-NF5s8O');background-position:0 -296px;background-size:auto;width:36px;height:36px;background-repeat:no-repeat;display:inline-block"></i>
          </div>
          <div class="iconName">Friend</div>
        </div>
        <div class="sidebarCard">
          <div class="icon3">
            <i data-visualcompletion="css-img" class="" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/4GR4KRf3hN2.png?_nc_eui2=AeFVuvjl5FtZXqdjcVMAfZ1oiXYVTRy2fzKJdhVNHLZ_Mr36rNi1hcEf-STIpdW5YoJkGj1OQaJCLKCdZ-NF5s8O');background-position:0 -444px;background-size:auto;width:36px;height:36px;background-repeat:no-repeat;display:inline-block"></i>
          </div>
          <div class="iconName">Memory</div>
        </div>
        <div class="sidebarCard">
          <div class="icon4">
            <i data-visualcompletion="css-img" class="" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/vTDQ3deAsEh.png?_nc_eui2=AeF7M8AfZ6FIrR_YKOeAyyjQtB6cyH067p60HpzIfTrunjr3SLcBSg6Ue_Cbhh8joRNpfZyQQF5HiHH8XQg2uXQg');background-position:0 -37px;background-size:auto;width:36px;height:36px;background-repeat:no-repeat;display:inline-block"></i>
          </div>
          <div class="iconName">Events</div>
        </div>
        <div class="sidebarCard">
          <div class="icon5">
            <i data-visualcompletion="css-img" class="" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/4GR4KRf3hN2.png?_nc_eui2=AeFVuvjl5FtZXqdjcVMAfZ1oiXYVTRy2fzKJdhVNHLZ_Mr36rNi1hcEf-STIpdW5YoJkGj1OQaJCLKCdZ-NF5s8O');background-position:0 -185px;background-size:auto;width:36px;height:36px;background-repeat:no-repeat;display:inline-block"></i>
          </div>
          <div class="iconName">Saved</div>
        </div>
        <div class="sidebarCard">
          <div class="icon6">
            <i data-visualcompletion="css-img" class="" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/4GR4KRf3hN2.png?_nc_eui2=AeFVuvjl5FtZXqdjcVMAfZ1oiXYVTRy2fzKJdhVNHLZ_Mr36rNi1hcEf-STIpdW5YoJkGj1OQaJCLKCdZ-NF5s8O');background-position:0 -37px;background-size:auto;width:36px;height:36px;background-repeat:no-repeat;display:inline-block"></i>
          </div>
          <div class="iconName">Group</div>
        </div>
        <div class="sidebarCard">
          <div class="icon7">
            <svg viewBox="0 0 16 16" width="20" height="20" fill="currentColor" aria-hidden="true" class="x19dipnz x1lliihq x1k90msu x2h7rmj x1qfuztq" style="--color:var(--primary-icon)"><g fill-rule="evenodd" transform="translate(-448 -544)"><path fill-rule="nonzero" d="M452.707 549.293a1 1 0 0 0-1.414 1.414l4 4a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L456 552.586l-3.293-3.293z"></path></g></svg>
          </div>
          <div class="iconName">See more</div>
        </div>
        <hr />
        <div class="sidebarCard">
          <div class="icon6">
            <i data-visualcompletion="css-img" class="" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/4GR4KRf3hN2.png?_nc_eui2=AeFVuvjl5FtZXqdjcVMAfZ1oiXYVTRy2fzKJdhVNHLZ_Mr36rNi1hcEf-STIpdW5YoJkGj1OQaJCLKCdZ-NF5s8O');background-position:0 -37px;background-size:auto;width:36px;height:36px;background-repeat:no-repeat;display:inline-block"></i>
          </div>
          <div class="iconName">Game</div>
        </div>
        <div class="sidebarCard">
          <div class="icon6">
            <i data-visualcompletion="css-img" class="" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/4GR4KRf3hN2.png?_nc_eui2=AeFVuvjl5FtZXqdjcVMAfZ1oiXYVTRy2fzKJdhVNHLZ_Mr36rNi1hcEf-STIpdW5YoJkGj1OQaJCLKCdZ-NF5s8O');background-position:0 -37px;background-size:auto;width:36px;height:36px;background-repeat:no-repeat;display:inline-block"></i>
          </div>
          <div class="iconName">Random Group</div>
        </div>
        <div class="sidebarCard">
          <div class="icon6">
            <i data-visualcompletion="css-img" class="" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/4GR4KRf3hN2.png?_nc_eui2=AeFVuvjl5FtZXqdjcVMAfZ1oiXYVTRy2fzKJdhVNHLZ_Mr36rNi1hcEf-STIpdW5YoJkGj1OQaJCLKCdZ-NF5s8O');background-position:0 -37px;background-size:auto;width:36px;height:36px;background-repeat:no-repeat;display:inline-block"></i>
          </div>
          <div class="iconName">Game Group</div>
        </div>
      </div>
    </div>
  </body>
</html>
